<h1>Destination Details</h1>
<h3><label>Name:</label></h3>
<%= @custom_destination.name %><br>
<h3><label>Address:</label></h3>
<%= @custom_destination.address %><br>
<h3><label>Destination Type:</label></h3>
<%= @custom_destination.destination_type %><br>
<h3><label>Year Created:</label></h3>
<%= @custom_destination.year_created %><br>
