<h1 class="welcome-header">Welcome to NYSee! The one stop app for keeping track of all your New York moments</h1>

<h2>Already have an account? Login:<%= button_to "Login", new_session_path, :method => "get" %></h2><br>

<br>
<h2>New to NYSee? Sign up here:</h2>
<%= button_to "Sign Up", new_user_path, :method => "get" %>
